<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="OrderSetting">
      <section name="OrderMapping" type="System.Configuration.DictionarySectionHandler" />
      <section name="OrderCarrierMapping" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="USER" value="ALTAIS" />
    <add key="BASEURL" value="http://webservice.altais.fr/prestashop/modules/webservicessage/" />
    <!-- ARTICLE CONFIGURATION -->
    <add key="TVA" value="20" />
    <add key="ARRONDI" value="2" />
    <add key="DEFAULTSTOCK" value="TRUE" />
    <!-- END ARTICLE CONFIGURATION -->
    <add key="CRONTASKUPDATESTATUT" value="100000000" />
    <add key="CRONTASKCHECKFORNEWORDER" value="60000" />
    <add key="CRONSTOCK" value="100000000" />
    <add key="CRONTASKRESTART" value="1800000000" />
    <add key ="CRONSYNCHROCLIENT" value ="12:30"/>
    <add key ="CRONSYNCHROCLIENTDONE" value ="FALSE"/>
    <!-- COMMANDE CONFIGURATION -->
    <add key="COMPTG" value="" />
    <add key="CATTARIF" value="" />
    <add key="CONDLIVRAISON" value="" />
    <add key="EXPEDITION" value="" />
    <add key="SOUCHE" value="N° pièce" />
    <add key="CATEGORIECOMPTABLEDEFAUT" value="Ventes TVA" />
    <add key="CATEGORIECOMPTABLEFOREIGNER" value="Ventes CEE" />
    <!-- END COMMANDE CONFIGURATION -->
    <add key="PREFIXCLIENT" value="PREFIX" />
    <!-- SAGE CONFIGURATION -->
    <add key="GCM_SET" value="TRUE" />
    <add key="GCM_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\Bijou.gcm" />
    <add key="GCM_USER" value="&lt;Administrateur&gt;" />
    <add key="GCM_PASS" value="" />
    <add key="MAE_SET" value="TRUE" />
    <add key="MAE_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\BIJOU.MAE" />
    <add key="MAE_USER" value="&lt;Administrateur&gt;" />
    <add key="MAE_PASS" value="" />
    <!-- END SAGE CONFIGURATION -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <OrderSetting>
    <OrderMapping>
      <add key="Standby" value="STBY" />
      <add key="2" value="DocumentTypeVenteCommande" />
      <add key="2" value="DocumentTypeVenteCommande" />
      <add key="2" value="DocumentTypeVenteCommande" />
      <add key="2" value="DocumentTypeVenteCommande" />
      <add key="2" value="DocumentTypeVenteCommande" />
      <add key="2" value="DocumentTypeVenteCommande" />
    </OrderMapping>
    <OrderCarrierMapping>
      <add key="1" value="Sernam" />
    </OrderCarrierMapping>
  </OrderSetting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>